<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>LabWork01</title>
</head>
<body>
    <header class="mt-2 container d-flex justify-content-center align-items-center">
        <a class="btn btn-success mr-2" href="/lab1">Лаб№1</a>
        <a class="btn btn-primary mr-2" href="/lab2">Лаб№2</a>
        <a class="btn btn-primary mr-2" href="/lab3">Лаб№3</a>
        <a class="btn btn-primary mr-2" href="/lab4">Лаб№4</a>
        <a class="btn btn-primary mr-2" href="/lab5">Лаб№5</a>
        <a class="btn btn-primary mr-2" href="/lab6">Лаб№6</a>
        <a class="btn btn-primary" href="/lab7">Лаб№7</a>
    </header>
    <div class="container">
        <div class="lab_info">
            <h1>Вариант - 16</h1>
            <p>
                На языке Python разработайте скрипт, который с помощью
                генетического алгоритма и полного перебора решает следующую задачу. Дано
                N наименований продуктов, для каждого из которых известно m
                характеристик. Необходимо получить самый дешевый рацион из k
                наименований, удовлетворяющий заданным медицинским нормам для каждой
                из m характеристик.
            </p>
        </div>
        <form action="/lab1" method="post">
            <p>
                Значения вводить в виде:<br>
                {"Куриная грудка", [150, 10, 15, 20], "Цена:20"}, {"Форель", [200, 20, 25, 30], "Цена:30"}, {"Помидор", [50, 2, 0, 0], "Цена:5"}, {"Огурец", [50, 3, 0, 0], "Цена:4"}<br>
                {"Куриная грудка", [150, 10, 15, 20], "Цена:20"}, {"Форель", [200, 20, 25, 30], "Цена:30"}, {"Помидор", [50, 2, 0, 0], "Цена:5"}, {"Огурец", [0, 3, 0, 0], "Цена:4"}<br>
                Для рациона:<br>
                200, 15, 15, 15
            </p>
            <div class="products form-group">
                <label for="products">Введите данные о продуктах:</label>
                <input type="text" id="products" class="form-control" name="products">
            </div>
            <div class="ideal form-group">
                <label for="ideal">Введите предпочитаемый рацион:</label>
                <input type="text" id="ideal" class="form-control" name="ideal">
            </div>
            <button class="btn btn-primary" type="submit">Получить возможный рацион</button>
        </form>
        <p>
            Ваш рацион: {{ result }}
        </p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>